<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hello Cyanometer!</title>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-80752590-1', 'auto');
      ga('send', 'pageview');
    </script>
  </head>

  <body class="cyanometer">
    <header class="wrapper-large ta-center">
      <nav>
        <a href="http://www.cyanometer.net" class="logo"><img src="/images/CianometerLogo_new.png" ></img></a>
        <%= if @debug do %>
          <a class="fs-small" href="/debug">View all data</a>
          <span class="fs-small">debug: <%= @debug %></span>
        <% end %>
      </nav>
    </header>

    <main class="wrapper-large" role="main">
      <%= render @view_module, @view_template, assigns %>

      <hr />
      <section class="wrapper-large about ta-center">
        <p>
          The cyanometer was invented by Geneva-based scientist Horace Benedict de Saussure in 1789. He systematically documented the blueness of the sky with his cyanometer, a simple circular tool with 53 shades of blue. He concluded that blueness is influenced by both moisture and the amount of suspended particles in the air.
          <br/>
          <br/>
          The Cyanometer by Martin Bricelj Baraga is inspired by the original cyanometer. De Saussure’s blue color wheel forms the core of the monument, gently directing our gaze back to the sky. The monolith gathers data of the blueness of the sky and the quality of air and visualises them, thus becoming an instrument which raises awareness on the quality of one of the crucial elements of life. In a cloud based world, the only clouds that really matter are the ones we see in the sky
        </p>

        <p class="fw-bold more"><a href="http://about.cyanometer.net">VIEW PROJECT INFORMATION</a></p>
      </section>

      <section class="about-image ta-center">

        <img src="/images/cyanometer-1200.jpg" />

        <p>
          In Ljubljana, the Cyanometer gathers air quality measurement data from the EARS Ljubljana Bežigrad measuring station. The Cyanometer displays the air pollution level on a color scale from red to green and points out the main pollutant in case of pollution in real time. A color scale from green to red visualises the air quality level.
          In the case of increased levels of concentrations, three different icons indicate the main pollutant source, while the fourth one indicates the essential condition connected to elevated ozone concentrations.
        </p>

      </section>

      <section class="wrapper-large hr">
        <hr class="grey-hr"/>
      </section>

      <section id="cyan-environmental-data" class="wrapper-large ta-center">

      </section>

      <section id="air-pollution-index" class="wrapper-large ta-center">
        <h4 class="section-title">Pollution Index</h4>
        <div id="ap-index-wrapper" class="grid grid--medium">
          <div class="ap-index-colour green"></div>
          <div class="ap-index-colour yellow"></div>
          <div class="ap-index-colour orange"></div>
          <div class="ap-index-colour red"></div>
        </div>
        <div id="ap-index-wrapper" class="grid grid--medium">
          <div class="ap-index-colour">LOW</div>
          <div class="ap-index-colour">MODERATE</div>
          <div class="ap-index-colour">HIGH</div>
          <div class="ap-index-colour">VERY HIGH</div>
        </div>

        <p class="ap-caveat"></p>
      </section>

      <section class="wrapper-large hr">
        <hr class="grey-hr"/>
      </section>

      <section id="cyan-measurements-wrapper" class="wrapper-large ta-center">
        <div id="cyan-measurements"></div>
        <hr class="grey-hr"/>
        <p>MORE: <a href="http://www.arso.si">WWW.ARSO.SI</a></p>
      </section>


      <section id="credits" class="wrapper-large ta-center fs-small">
        <h4 class="section-title">Credits</h4>
        <p>
          <span class="contributor">Martin Bricelj Baraga</span> concept & artistic direction • <span class="contributor">Igor Vuk</span> technical design & production • <span class="contributor">Neja Tomšič</span> production & texts •
          <span class="contributor">Marjan Omanovič</span> installation build up • <span class="contributor">Miha Markič</span> programming •
          <span class="contributor">Matt Spendlove</span> web programming • <span class="contributor">Vishal Kassie</span> website design •
          <span class="contributor">Domen Dimovski 3D design</span> • <span class="contributor">Katja Pahor</span> design •
          <span class="contributor">Gašper Torkar</span> sound design
        </p>
        <ul>
          <li>Production: <span class="fw-bold">MoTA – Museum of Transitory Art</span></li>
          <li>Supported by:</li>
          <li>Partner: <span class="fw-bold">Mestna občina Ljubljana – Zelena prestolnica Evrope 2016, ARSO – Agencija Republike Slovenije za okolje</span></li>
          <li>Co-financed by: <span class="fw-bold">Ministrstvo za kulturo, Turizem Ljubljana</span></li>
          <li>Sponsor: <span class="fw-bold">Energetika Ljubljana</span></li>
        </ul>
        <p>The Cyanometer project was developed within the <span class="fw-bold">ARTECITYA</span> network, devoted to artistic and technological innovations with the aim of improving the quality of life in cities and is co-financed by the <span class="fw-bold">Creative Europe</span>.</p>
      </section>

      <section id="partners" class="wrapper-large">
        <img src="/images/partner_logos.svg" />
      </section>
    </main>

    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.5/TweenMax.min.js"></script>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
