<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hello Cyanometer!</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <header class="wrapper-large ta-center">
      <nav>
        <a href="http://www.cyanometer.net">Cyanometer</a>
        <a href="/debug">View all images</a>
        <span>debug: <%= @debug %></span>
      </nav>
    </header>

    <main class="wrapper-large" role="main">
      <!-- <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p> -->

      <%= render @view_module, @view_template, assigns %>

      <section class="about ta-center">
        <h4 class="section-title">About</h4>

        <p>
          The cyanometer was invented by Geneva-based scientist Horace Benedict de Saussure in 1789. He systematically documented the blueness of the sky with his cyanometer, a simple circular tool with 53 shades of blue. He concluded that blueness is influenced by both moisture and the amount of suspended particles in the air.
          <br/>
          <br/>
          The Cyanometer by Martin Bricelj Baraga is inspired by the original cyanometer. De Saussure’s blue color wheel forms the core of the monument, gently directing our gaze back to the sky. The monolith gathers data of the blueness of the sky and the quality of air and visualises them, thus becoming an instrument which raises awareness on the quality of one of the crucial elements of life. In a cloud based world, the only clouds that really matter are the ones we see in the sky
        </p>

        <img src="/images/cyanometer-1200.jpg" />

        <p>
          In Ljubljana, the Cyanometer gathers air quality measurement data from the EARS Ljubljana Bežigrad measuring station. The Cyanometer displays the air pollution level on a color scale from red to green and points out the main pollutant in case of pollution in real time. A color scale from green to red visualises the air quality level. In case of increased levels of concentration, three different icons indicate the main pollutant or in the case of ozone, the main pollution source.
        </p>
      </section>

      <section class="current-data">
        <h4 class="section-title">Current Data</h4>
        <p>Coming soon..</p>
      </section>

      <section class="credits">
        <h4 class="section-credits">Credits</h4>
        <p>
          Martin Bricelj Baraga concept & artistic direction • Igor Vuk technical design & production • Neja Tomšič production & texts • Marjan Omanovič installation build up • Miha Markič programming •
          Matt Spendlove website programming • Vishal Kassie website design • Domen Dimovski 3D design • Katja Pahor design • Gašper Torkar sound design
        </p>
        <ul>
          <li>Production: MoTA – Museum of Transitory Art</li>
          <li>Supported by:</li>
          <li>Partner: Mestna občina Ljubljana – Zelena prestolnica Evrope 2016, ARSO – Agencija Republike Slovenije za okolje</li>
          <li>Co-financed by: Ministrstvo za kulturo, Turizem Ljubljana</li>
          <li>Sponsor: Energetika Ljubljana</li>
        </ul>
        <p>The Cyanometer project was developed within the ARTECITYA network, devoted to artistic and technological innovations with the aim of improving the quality of life in cities and is co-financed by the Creative Europe.</p>
      </section>
    </main>

    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.18.5/TweenMax.min.js"></script>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
